# actor + server
OPENAI_KEY=
ELEVENLABS_KEY=
VOICE_OBAMA=
VOICE_TRUMP=
VOICE_BIDEN=

# server
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEON_DATABASE_URL=